*{
	margin: 0px;
	padding: 0px;
}


body{
	background-image:url(qutib.jpg);
	background-size: cover;
}
/*.my-container{
	border: 1px solid green;
}

.my-row{
	border:1px solid red;
}

.my-col{
	<h1>Hi There</h1
}
h3 {
  color: #852c98;
}

h2{
	line-height: 11.4;
}
h5{
	text-align: right;
}
h3{
	text-align: right;
}*/